body {
    background-color: black;
}
.title {
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
}

svg path {
    fill: transparent;
    stroke: #fff;
    stroke-width: 0.1;
    stroke-dasharray: 50;
    stroke-dashoffset: 50;
    animation: textAnimation 4s ease-in-out 1 forwards;
}
@keyframes textAnimation {
    0% {
        stroke-dashoffset: 50;
    }
    100% {
        fill: #fff;
        stroke-dashoffset: 0;
    }
}